<%= Time.zone.now %>
<%= notice %>
<h1>This is index page, <%=t :hello_world %></h1>
<table>
  <tr>
    <th><%=t :name %></th>
    <th><%=t :detail %></th>
    <th><%=t :deadline %></th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.name %></td>
      <td><%= task.detail %></td>
      <td><%= task.deadline %></td>
      <td><%= link_to 'Edit', edit_task_path(task) %></td>
      <td><%= link_to 'Show', task_path(task) %></td>
      <td><%= link_to 'DELETE', task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to t(:new), '/tasks/new' %>
