<%= Time.zone.now %>
<%= notice %>
<h1>This is index page, <%=t :hello_world %></h1>
<table>
  <tr>
    <th><%=t :name %></th>
    <th><%=t :detail %></th>
    <th><%=t :deadline %></th>
    <th>ステータス</th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.name %></td>
      <td><%= task.detail %></td>
      <td><%= task.deadline %></td>
      <td><%= task.status %></td>
      <td><%= link_to 'Edit', edit_task_path(task) %></td>
      <td><%= link_to 'Show', task_path(task) %></td>
      <td><%= link_to 'DELETE', task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to t(:deadline_sort_desc), method: :get , sorting: 'desc' %> | <%= link_to t(:deadline_sort_asc), method: :get , sorting: 'asc' %><br>

<%#= form_tag("tasks/search", method: "get") do %>
  <%#= text_field_tag :search, params[:search] %>
  <%#= submit_tag "Search", :name => nil %><br>
<%# end %>

<%= form_tag tasks_path, :method => 'get' do %> <%#　projects_pathはモデル名で読みかえること %>
  <p>
    <%= text_field_tag :search1, params[:search1] %>
    <%= submit_tag "Search for name", :name => nil %><br>
  </p>
<% end %>

<%= form_tag tasks_path, :method => 'get' do %> <%#　projects_pathはモデル名で読みかえること %>
  <p>
    <%= text_field_tag :search2, params[:search2] %>
    <%= submit_tag "Search for status", :status => nil %><br>
  </p>
<% end %>



<%= link_to t(:new), '/tasks/new' %><br>
