<h1>This is new page</h1>

<%= form_for :task, url: tasks_path do |f| %>

  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> <%=t(:create_failed)%></h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label t(:name) %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label t(:detail) %><br>
    <%= f.text_area :detail %>
  </p>

  <p>
    <%= f.label t(:deadline) %><br>
    <%= f.datetime_select :deadline %>
  </p>

  <p>
    <%= f.label "ステータス" %><br>
    <%= f.select :status, [["着手", "着手"],["未着手", "未着手"],["完了", "完了"]] %>
  </p>

  <p>優先度<br>
    <label><%= f.radio_button :priority, 2 %> 高 </label>
    <label><%= f.radio_button :priority, 1, {:checked => true}%> 中</label>
    <label><%= f.radio_button :priority, 0 %> 低 </label>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', tasks_path %>
