<%= notice %>
<h1>This is show page</h1>

<p>
  <strong><%=t :name %>:</strong>
  <%= @task.name %>
</p>

<p>
  <strong><%=t :detail %>:</strong>
  <%= @task.detail %>
</p>

<p>
  <strong><%=t :deadline%>:</strong>
  <%= @task.deadline %>
</p>

<p>
  <strong><%=t :status%>:</strong>
  <%= @task.status %>
</p>



<%= link_to 'Back', tasks_path %>
