name:<%= @user.name %>, email:<%= @user.email %>, created at:<%= @user.created_at %>, updated at:<%= @user.updated_at %><br>
current time:<%= Time.now %><br>
<br>
<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
